@import "variables.scss";
@import "mixins.scss";

.content{
	ul{
		li{
			float:left;
			width:33.33%;	
			height: 89px;
			text-align: center;
			margin-right: -2px;
			box-sizing:border-box;
			border:1px solid #ccc;
			a{
				display: block;
				margin-top: 25px;
				span{
					display: block;
				}
			}
		}
	}
}