@import "../../css/variables.scss";
@import "../../css/mixins.scss";
body{
	background:#f8f8f8;
}

.content{
	ul{
		margin-left:$padding;
		margin-top: 19px;
		li{
			float:left;
			margin-right: 8px;
			margin-bottom: 21px;
			width: 106px;
			height: 96px;
			background:#fff;
			border:1px solid #eee;
			a{
				text-decoration: none;
				span{
					display: block;
					width:50px;
					height: 50px;
					border-radius:50%;
					font-size: 28px;
					text-align: center;
					line-height: 50px;
					color:#fff;
					margin:9px 27px auto 27px;
				}
				span.bg1{
					background:$bg-blue;
				}
				span.bg2{
					background:$bg-pink;
				}
				span.bg3{
					background:$bg-yellow;
				}
				span.bg4{
					background:$bg-green;
				}
				span.bg5{
					background:$light-blue;
				}

				span.bg6{
					background:$bg-orange;
				}
				span.bg7{
					background:$bg-purple;
				}
				span.bg8{
					background:$light-orange;
				}
				span.bg9{
					background:$light-green;
				}
				span.bg10{
					background:$bg-yellow;
				}
				
				b{
					display: block;
					text-align: center;
					padding-top:10px;
					font-size: 14px;
				}
			}
		}
	}
}