@import "../../css/variables.scss";
@import "../../css/mixins.scss";
body{
	background:#f8f8f8;
}


.mid-single{
  border-top:1px solid #3152c2;
  background:$brand;
  .search{
    position: relative;
    margin:24px $padding auto $padding;
    //需调整
    input{
      width:100%;
      margin-right:12px;
      line-height:44px;
      border-radius:5px;
      text-indent: $padding;
      outline: none;
      border:none;
    }
    b{
      position:absolute;
      top:$padding;
      right:$padding;
    }
  }
  ul{
    padding-left:23px;
    padding-top:9px;
    padding-bottom:13px;
    li{
      float: left;
      color:$white;
      padding-top: 9px;
      a{
        color:$white;
        padding-left:20px;
        text-decoration: underline;
      }
    }
  }	
}

.content{
	padding: 0 2px 30px;
	ul{
		min-width:300px;
		li{
			float: left;
			padding:0 10px;
			width: 33.33%;
			margin-top: 15px;
			box-sizing: border-box;
			text-align: center;
			a{
				display: block;
				padding: 10px 0;
				background: #f8f8f8;
				background:#fff;
				.bg{
					display: inline-block;
					width:50px;
					height:50px;
					line-height: 50px;
					text-align: center;
					border-radius: 50%;
					background: #3fafee;
					&.bg1{
						background:$bg-pink;
					}
					&.bg2{
						background:$bg-yellow;
					}
					&.bg3{
						background:$bg-green;
					}
					&.bg4{
						background:$light-blue;
					}
					&.bg5{
						background:$bg-orange;
					}
					&.bg6{
						background:$bg-purple;
					}
					&.bg7{
						background:$light-orange;
					}
					&.bg8{
						background:$bg-yellow;
					}

					
				i{
					color: $white;
					font-size: 30px;
				}
			}
				span{
					display: block;
					margin-top: 9px;
				}
			}
		}
	}
}
				// span.bg1{
				// 	background:$bg-blue;
				// }
				// span.bg2{
				// 	background:$bg-pink;
				// }
				// span.bg3{
				// 	background:$bg-yellow;
				// }
				// span.bg4{
				// 	background:$bg-green;
				// }
				// span.bg5{
				// 	background:$light-blue;
				// }

				// span.bg6{
				// 	background:$bg-orange;
				// }
				// span.bg7{
				// 	background:$bg-purple;
				// }
				// span.bg8{
				// 	background:$light-orange;
				// }
				// span.bg9{
				// 	background:$light-green;
				// }
				// span.bg10{
				// 	background:$bg-yellow;
				// }