@import "variables.scss";
@import "mixins.scss";

body{
	 background:$brand;
 }

.circle{
	width:277px;
	height:279px;
	margin:20px auto;
	overflow:hidden;
	background:url(../../images/circle.png);
	background-size:100%;
	.count{
		margin-left:100px;
		margin-top: 88px;
		color:$white;
		p{
			margin:0;
			font-size: 12px;
		}	
		h2{
			margin:0;
			font-size: 70px;
		}
	}
}

.status{
	display:flex;
	width:100%;
	.waiting,.things{
		flex:1;
		text-align: center;
		span{
			display: block;
			line-height: 43px;
			color:$white;
		}
	}
}

.wait-out{
	display:block;
	margin:70px auto;
	width:241px;
	line-height: 46px;
	font-size: 16px;
	color:$white;
	text-align:center;
	border-radius:10px;
	border:1px solid $white;
}